{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title%} {% endblock title%}</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
  </head>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'create_log' %}">Log Serving</a>
          </li>

          <li>
            <a href="{% url 'users:logout' %}">Logout</a>
          </li>

          {% else %}
          <li>
            <a href="{% url 'users:signup' %}">Sign Up</a>
          </li>
          <li>
            {% comment %} <a href="{% url 'login' %}">Login</a> {% endcomment %}
            <a href="{% url 'users:user_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content%} {% endblock content%}
    <footer>Made with <img class="heart" src="https://purepng.com/public/uploads/large/heart-icon-jst.png"> by the Bean Team</footer>
  </body>
</html>
