{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%} Bean Life {% endblock title%}</title>

    <!-- <link rel="stylesheet" href="{% static "css/servings.css" %}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <script src="{% static 'servings/index.js' %}"></script>
    <link href="{% static 'src/compiled.css' %}" rel="stylesheet">

  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'create_log' %}">Log Serving</a>
          </li>
          <li>
            <a href="{% url 'users:edit_targets' user.id %}">Your Targets</a>
          </li>
          <li>
            <a href="{% url 'users:logout' %}">Logout</a>
          </li>

          {% else %}
          <li>
            <a href="{% url 'users:signup' %}">Sign Up</a>
          </li>
          <li>
            <a href="{% url 'users:login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    {% block content%} {% endblock content%}
    <footer>Made with <img class="heart" src="https://purepng.com/public/uploads/large/heart-icon-jst.png"> by the Bean Team</footer>
  </body>
</html>
