{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%} Bean Life {% endblock title%}</title>

    <!-- <link rel="stylesheet" href="{% static 'css/servings.css' %}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="{% static 'src/compiled.css' %}" rel="stylesheet">

  </head>
  <body>

    <nav class="bg-white shadow">
      <div class="mx-auto w-full px-4 sm:px-6 lg:px-8">

      <!-- <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"> -->
        <div class="flex h-16 w-128 justify-between">
          <div class="flex">
            <div class="flex flex-shrink-0 items-center">
              <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Bean Team">
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
              <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
              {% if user.is_authenticated %}
              <a href="{% url 'home' %}" class="inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900">Home</a>
              <a href="{% url 'create_log' %}" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Log Serving</a>
              <a href="{% url 'users:edit_targets' user.id %}" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Your Targets</a>
              <a href="{% url 'users:logout' %}" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Logout</a>
              {% else %}
              <a href="{% url 'users:signup' %}" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Signup</a>
              <a href="{% url 'users:login' %}" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'create_log' %}">Log Serving</a>
          </li>
          <li>
            <a href="{% url 'users:edit_targets' user.id %}">Your Targets</a>
          </li>
          <li>
            <a href="{% url 'users:logout' %}">Logout</a>
          </li>

          {% else %}
          <li>
            <a href="{% url 'users:signup' %}">Sign Up</a>
          </li>
          <li>
            <a href="{% url 'users:login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header> -->

    {% block content%} {% endblock content%}
    <!-- <footer>Made with <img class="heart" src="https://purepng.com/public/uploads/large/heart-icon-jst.png"> by the Bean Team</footer> -->
  </body>
</html>
