
  /* grid-template-rows: auto */
  /* grid-template-rows: auto 1fr auto; */
  /* grid-template-rows: 1fr min-content; */
  /* grid-template-rows: repeat(5, 1fr); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;
  background-color: #AEC6C2;
  font: #1a3fd0;
}

.welcome {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 120px;
}

.welcome-header {
  row-gap: 30px
}

h5 {
  font-family: "Courier Prime", monospace;
}

.container {
  display: flex;
  width: 420px;
  padding: 50px 0;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  row-gap: 30px;
}

.circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient( #eea516 3.6deg, #E4D6C4 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: white;
}

.progress-value {
  position: relative;
  font-size: 1.5rem;
}

/* .welcome {
  grid-column: 3 / span 7;
  grid-row-start: 2;
  justify-items: center;
  align-items: center;
  text-align: center;
  justify-self: center;
}


body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr) min-content;
  margin: 0px;
  padding: 0px;
  font-family: 'Libre Baskerville', serif;
  background-color: #AEC6C2;
  font: #1a3fd0;
}

h5 {
    font-family: "Courier Prime", monospace;
}


.skill {
  display: flex,
  justify-content: center,
  align-items: center,
  background-color: aqua;
  width: 160px;
  height: 160px;
  justify-self: center;
}

.outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid orchid;
  padding: 20px;
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid orchid;
} */
