{% extends 'base.html' %} {% block title %} Bean Life {% endblock title%}
{%block content%}
<main>
  <div>

    <!-- original log table  -->
    <!-- <table>
      <thead>
        <tr>
          <th>Time of Serving</th>
          <th>Type</th>
          <th>Actions</th>
          <th>Time Elapsed</th>
          <th>Current Time</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs%}
        <tr>
          <td>{{log.time_of_serving}}</td>
          <td>{{log.serving_type}}</td>
          <td><a href="{% url "edit_log" log.log_id%}">Edit</a> <a href="{% url "delete_log" log.log_id%}">Delete</a> </td>
          <td>{{ log.time_elapsed|floatformat:"0" }} </td>
          <td>{{log.current_time}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->

    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">Logs</h1>
          <p class="mt-2 text-sm text-gray-700">A list of all your logs.</p>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
          <button type="button" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add user</button>
        </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Time of Serving</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Type</th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white">
                {% for log in logs%}
                <tr class="even:bg-gray-50">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">{{log.time_of_serving}}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{log.serving_type}}</td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                    <a href="{% url "edit_log" log.log_id%}" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay Walton</span></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</main>

{% endblock content%}
